Repository JacquesCarette/Drasil, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JacquesCarette, @cd155, @samm82, @bmaclach, @smiths, @balacij

Update Rule comment to provide more clarity
  code/drasil-build/lib/Build/Drasil/Make/AST.hs
Owners: @JacquesCarette

Fixes grammatical errors
  code/drasil-build/lib/Build/Drasil/Make/AST.hs
Owners: @JacquesCarette

Change MkComment to Comment
  code/drasil-build/lib/Build/Drasil/Make/AST.hs
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-build/package.yaml
  code/drasil-gool/lib/GOOL/Drasil.hs
  code/drasil-gool/lib/GOOL/Drasil/ClassInterface.hs
Owners: @JacquesCarette, @balacij, @bmaclach

Removed GamePhysics from table of Abrv.
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Body.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Concepts.hs
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
Owners: @JacquesCarette, @smiths

Wrap comments when comments over 80 characters.
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-build/package.yaml
Owners: @JacquesCarette, @balacij

Update stable to reflect wrap comments changes
  code/stable/glassbr/src/cpp/Makefile
  code/stable/glassbr/src/csharp/Makefile
  code/stable/glassbr/src/java/Makefile
  code/stable/glassbr/src/python/Makefile
  code/stable/glassbr/src/swift/Makefile
  code/stable/nopcm/src/cpp/Makefile
  code/stable/nopcm/src/csharp/Makefile
  code/stable/nopcm/src/java/Makefile
  code/stable/nopcm/src/python/Makefile
  code/stable/pdcontroller/src/cpp/Makefile
  code/stable/pdcontroller/src/csharp/Makefile
  code/stable/pdcontroller/src/java/Makefile
  code/stable/pdcontroller/src/python/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/swift/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/cpp/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/csharp/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/java/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/python/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/swift/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/swift/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/swift/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/swift/Makefile
Owners: @JacquesCarette, @smiths, @samm82, @bmaclach

fix pendulum examples, and cleanup
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Body.hs
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Concepts.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Concepts.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/Body.hs
  code/drasil-example/sglpendulum/lib/Drasil/SglPendulum/Body.hs
  code/stable/dblpendulum/.drasil/inverted_seeds.json
  code/stable/dblpendulum/.drasil/seeds.json
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/dblpendulum/src/cpp/Makefile
  code/stable/dblpendulum/src/cpp/README.md
  code/stable/dblpendulum/src/cpp/doxConfig
  code/stable/dblpendulum/src/csharp/Makefile
  code/stable/dblpendulum/src/csharp/README.md
  code/stable/dblpendulum/src/csharp/doxConfig
  code/stable/dblpendulum/src/java/DblPend/Calculations.java
  code/stable/dblpendulum/src/java/DblPend/Constants.java
  code/stable/dblpendulum/src/java/DblPend/Control.java
  code/stable/dblpendulum/src/java/DblPend/InputParameters.java
  code/stable/dblpendulum/src/java/DblPend/ODE.java
  code/stable/dblpendulum/src/java/DblPend/ODEStepHandler.java
  code/stable/dblpendulum/src/java/DblPend/OutputFormat.java
  code/stable/dblpendulum/src/java/Makefile
  code/stable/dblpendulum/src/java/README.md
  code/stable/dblpendulum/src/java/doxConfig
  code/stable/dblpendulum/src/python/Makefile
  code/stable/dblpendulum/src/python/README.md
  code/stable/dblpendulum/src/python/doxConfig
  code/stable/nopcm/.drasil/inverted_seeds.json
  code/stable/nopcm/.drasil/seeds.json
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/sglpendulum/.drasil/inverted_seeds.json
  code/stable/sglpendulum/.drasil/seeds.json
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
Owners: @JacquesCarette, @cd155, @smiths

add sgl and dbl pedulum to table of abbrv.
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Body.hs
  code/drasil-example/sglpendulum/lib/Drasil/SglPendulum/Body.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
Owners: @JacquesCarette, @cd155, @smiths

fix nopcm full name
  code/datafiles/nopcm/SystemContextFigure.png
  code/drasil-example/nopcm/lib/Drasil/NoPCM/Body.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Body.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Concepts.hs
  code/stable/nopcm/.drasil/inverted_seeds.json
  code/stable/nopcm/.drasil/seeds.json
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
Owners: @JacquesCarette, @smiths

Update stable
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS-blx.bib
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.pdf
Owners: @JacquesCarette, @smiths

Update stable
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS-blx.bib
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.pdf
Owners: @JacquesCarette, @smiths

Moving 'Comment' type to a new file and introducing Annotation
  code/drasil-build/lib/Build/Drasil/Make/AST.hs
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-build/package.yaml
  code/drasil-gool/lib/GOOL/Drasil.hs
  code/drasil-gool/lib/GOOL/Drasil/ClassInterface.hs
  code/drasil-utils/lib/Utils/Drasil.hs
  code/drasil-utils/lib/Utils/Drasil/CommonConcept.hs
Owners: @JacquesCarette, @balacij, @bmaclach

uncomment code allowing for output requirement to be generated; update Projectile to use
  code/drasil-docLang/lib/Drasil/DocDecl.hs
  code/drasil-docLang/lib/Drasil/Sections/Requirements.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Requirements.hs
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
Owners: @JacquesCarette, @samm82, @bmaclach, @smiths

update GlassBR to generate output requirement
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Body.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/DataDefs.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Requirements.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Symbols.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Unitals.hs
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/glassbr/src/cpp/Control.cpp
  code/stable/glassbr/src/cpp/OutputFormat.cpp
  code/stable/glassbr/src/cpp/OutputFormat.hpp
  code/stable/glassbr/src/csharp/Control.cs
  code/stable/glassbr/src/csharp/OutputFormat.cs
  code/stable/glassbr/src/java/GlassBR/Control.java
  code/stable/glassbr/src/java/GlassBR/OutputFormat.java
  code/stable/glassbr/src/python/Control.py
  code/stable/glassbr/src/python/OutputFormat.py
  code/stable/glassbr/src/swift/OutputFormat.swift
  code/stable/glassbr/src/swift/main.swift
Owners: @JacquesCarette, @samm82, @smiths

update PDController to generate output requirement
  code/drasil-example/pdcontroller/lib/Drasil/PDController/Requirements.hs
  code/stable/pdcontroller/SRS/HTML/PDController_SRS.html
  code/stable/pdcontroller/SRS/JSON/PDController_SRS.ipynb
  code/stable/pdcontroller/SRS/PDF/PDController_SRS.tex
Owners: @JacquesCarette, @smiths

minor improvements to the construction of some of PDController's requirements
  code/drasil-example/pdcontroller/lib/Drasil/PDController/Body.hs
  code/drasil-example/pdcontroller/lib/Drasil/PDController/Requirements.hs
Owners: @JacquesCarette

Fix image and progNames
  code/datafiles/nopcm/SystemContextFigure.png
  code/datafiles/swhs/SystemContextFigure.png
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Concepts.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/Body.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
Owners: @JacquesCarette, @cd155, @smiths

Thesis: WIP
  People/Dan/Thesis/Draft/Thesis_Main.pdf
  People/Dan/Thesis/Draft/process.tex
Owners: @JacquesCarette

Build drasil-codeLang package
  code/drasil-codeLang/README.md
  code/drasil-codeLang/lib/CodeLang/Drasil.hs
  code/drasil-codeLang/lib/CodeLang/Drasil/CommonConcept.hs
  code/drasil-codeLang/lib/CodeLang/Drasil/README.md
  code/drasil-codeLang/lib/CodeLang/README.md
  code/drasil-codeLang/lib/README.md
  code/drasil-codeLang/package.yaml
  code/drasil-codeLang/stack.yaml
  code/drasil-utils/lib/Utils/Drasil.hs
  code/hie.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Update files to change dependency from utils to codeLang
  code/drasil-build/lib/Build/Drasil/Make/AST.hs
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-build/package.yaml
  code/drasil-gool/lib/GOOL/Drasil/ClassInterface.hs
  code/drasil-gool/package.yaml
Owners: @JacquesCarette, @balacij, @bmaclach

Separate Project Name and Purpose
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
Owners: @JacquesCarette

Change hghc, srsSWHS, and swhsPCM to CI
  code/drasil-example/hghc/lib/Drasil/HGHC/HeatTransfer.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/Definitions.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Body.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Concepts.hs
Owners: @JacquesCarette

Remove capitalize error
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
Owners: @JacquesCarette

.github/CODEOWNERS:

# Default rule

# Note that @JacquesCarette has to be added to each rule because of how CODEOWNERS files work

* @JacquesCarette

# Examples

code/drasil-example/dblpendulum/ @JacquesCarette @cd155
code/drasil-example/glassbr/ @JacquesCarette @samm82
code/drasil-example/projectile/ @JacquesCarette @samm82 @bmaclach
code/drasil-example/template/ @JacquesCarette @samm82

# Stable

# Note that @JacquesCarette and @smiths have to be added to each rule because of how CODEOWNERS files work

code/stable/ @JacquesCarette @smiths
code/stable/dblpendulum/ @JacquesCarette @smiths @cd155
code/stable/glassbr/ @JacquesCarette @smiths @samm82
code/stable/gooltest/ @JacquesCarette @smiths @bmaclach
code/stable/projectile/ @JacquesCarette @smiths @samm82 @bmaclach
code/stable/template/ @JacquesCarette @smiths @samm82

# GOOL (for @bmaclach)

code/drasil-gool/ @JacquesCarette @bmaclach

# YAML files

**.yaml @JacquesCarette @balacij

# `ModelKind`s

**/DifferentialModel.hs @JacquesCarette @cd155
**/ModelKinds.hs @JacquesCarette @balacij
**/ODEInfo.hs @JacquesCarette @cd155

# @samm82's miscellaneous work

**/Sentence/Fold.hs @JacquesCarette @samm82
**/Symbol/Helpers.hs @JacquesCarette @samm82
