Repository JacquesCarette/Drasil, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JacquesCarette, @cd155, @samm82, @bmaclach, @smiths, @balacij

.github/CODEOWNERS:

# Default rule

# Note that @JacquesCarette has to be added to each rule because of how CODEOWNERS files work

* @JacquesCarette

# Examples

code/drasil-example/dblpendulum/ @JacquesCarette @cd155
code/drasil-example/glassbr/ @JacquesCarette @samm82
code/drasil-example/projectile/ @JacquesCarette @samm82 @bmaclach
code/drasil-example/template/ @JacquesCarette @samm82

# Stable

# Note that @JacquesCarette and @smiths have to be added to each rule because of how CODEOWNERS files work

code/stable/ @JacquesCarette @smiths
code/stable/dblpendulum/ @JacquesCarette @smiths @cd155
code/stable/glassbr/ @JacquesCarette @smiths @samm82
code/stable/gooltest/ @JacquesCarette @smiths @bmaclach
code/stable/projectile/ @JacquesCarette @smiths @samm82 @bmaclach
code/stable/template/ @JacquesCarette @smiths @samm82

# GOOL (for @bmaclach)

code/drasil-gool/ @JacquesCarette @bmaclach

# YAML files

**.yaml @JacquesCarette @balacij

# `ModelKind`s

**/DifferentialModel.hs @JacquesCarette @cd155
**/ModelKinds.hs @JacquesCarette @balacij
**/ODEInfo.hs @JacquesCarette @cd155

# @samm82's miscellaneous work

**/Sentence/Fold.hs @JacquesCarette @samm82
**/Symbol/Helpers.hs @JacquesCarette @samm82

Switch to list as the underlying type for vectors
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
Owners: @JacquesCarette, @bmaclach

Code formatting changes
  code/drasil-metadata/package.yaml
Owners: @JacquesCarette, @balacij

Fix assignment loop for dot products
  code/drasil-gool/lib/GOOL/Drasil/AST.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
Owners: @JacquesCarette, @bmaclach

Add GOOL examples to CI
  .github/workflows/Build.yaml
Owners: @JacquesCarette, @balacij

remove remaining doxygen warnings
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Doxygen/Import.hs
  code/stable/dblpendulum/src/cpp/doxConfig
  code/stable/dblpendulum/src/csharp/doxConfig
  code/stable/dblpendulum/src/java/doxConfig
  code/stable/dblpendulum/src/python/doxConfig
  code/stable/glassbr/src/cpp/doxConfig
  code/stable/glassbr/src/csharp/doxConfig
  code/stable/glassbr/src/java/doxConfig
  code/stable/glassbr/src/python/doxConfig
  code/stable/nopcm/src/cpp/doxConfig
  code/stable/nopcm/src/csharp/doxConfig
  code/stable/nopcm/src/java/doxConfig
  code/stable/nopcm/src/python/doxConfig
  code/stable/pdcontroller/src/cpp/doxConfig
  code/stable/pdcontroller/src/csharp/doxConfig
  code/stable/pdcontroller/src/java/doxConfig
  code/stable/pdcontroller/src/python/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/cpp/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/csharp/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/java/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/python/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/doxConfig
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

revert unintended changes
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Concepts.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/HTML/SSP_SRS.html
  code/stable/ssp/SRS/JSON/SSP_SRS.ipynb
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/HTML/SWHS_SRS.html
  code/stable/swhs/SRS/JSON/SWHS_SRS.ipynb
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Fixes CI errors caused due to missing prog argument
  code/drasil-code/test/NameGenTest.hs
  code/drasil-code/test/VectorTest.hs
Owners: @JacquesCarette

Thesis: minor edits + Expanding the patterns section
  People/Dan/Thesis/Draft/Thesis_Main.pdf
  People/Dan/Thesis/Draft/background.tex
  People/Dan/Thesis/Draft/process.tex
Owners: @JacquesCarette

Thesis: missed save as part of last commit
  People/Dan/Thesis/Draft/Thesis_Main.pdf
  People/Dan/Thesis/Draft/process.tex
Owners: @JacquesCarette

Thesis: Add more examples and flesh out the patterns section a bit more
  People/Dan/Thesis/Draft/Thesis_Main.pdf
  People/Dan/Thesis/Draft/figures/dimensionless_load.png
  People/Dan/Thesis/Draft/figures/gb_dd_q.png
  People/Dan/Thesis/Draft/process.tex
Owners: @JacquesCarette

Thesis: Expand the patterns section and prep for final example
  People/Dan/Thesis/Draft/Thesis_Main.pdf
  People/Dan/Thesis/Draft/process.tex
Owners: @JacquesCarette

Factor out concatMap to remove HLint errors
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage/TraceabilityMatrix.hs
Owners: @JacquesCarette

Create database and read info from JSON
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/DrasilState.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/GenerateGOOL.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Generator.hs
  code/drasil-code/package.yaml
  code/drasil-code/test/FileTests.hs
  code/drasil-code/test/HelloWorld.hs
  code/drasil-code/test/NameGenTest.hs
  code/drasil-code/test/PatternTest.hs
  code/drasil-code/test/VectorTest.hs
  code/drasil-example/dblpendulum/app/Main.hs
  code/drasil-example/glassbr/app/Main.hs
  code/drasil-example/nopcm/app/Main.hs
  code/drasil-example/pdcontroller/app/Main.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Choices.hs
  code/drasil-metadata/lib/Data/Drasil/DrasilConfiguration.json
  code/drasil-metadata/lib/Data/Drasil/Version.hs
Owners: @JacquesCarette, @balacij, @cd155, @samm82, @bmaclach

Change file name from Version.hs to DrasilConfig.hs
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
Owners: @JacquesCarette

Update README for drasil-metadata
  code/drasil-metadata/lib/README.md
Owners: @JacquesCarette

Update README for drasil-metadata
  code/drasil-metadata/lib/README.md
Owners: @JacquesCarette

Add "Generated by Drasil Version: v0.1-alpha" text to artifacts
  code/drasil-gen/lib/Language/Drasil/Generate.hs
  code/drasil-gen/package.yaml
  code/drasil-gool/lib/GOOL/Drasil/AST.hs
  code/drasil-gool/lib/GOOL/Drasil/ClassInterface.hs
  code/drasil-gool/lib/GOOL/Drasil/CodeInfo.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CommonPseudoOO.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/LanguagePolymorphic.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
  code/drasil-gool/package.yaml
Owners: @JacquesCarette, @balacij, @bmaclach

Update package.yaml for drasil-metadat
  code/drasil-metadata/package.yaml
Owners: @JacquesCarette, @balacij

Move noFirstElement to drasil-utils
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-build/package.yaml
  code/drasil-utils/lib/Utils/Drasil.hs
  code/drasil-utils/lib/Utils/Drasil/Lists.hs
Owners: @JacquesCarette, @balacij

Modify code to create filepath at the time of usage
  code/drasil-example/dblpendulum/app/Main.hs
  code/drasil-example/glassbr/app/Main.hs
  code/drasil-example/nopcm/app/Main.hs
  code/drasil-example/pdcontroller/app/Main.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Choices.hs
  code/drasil-gen/lib/Language/Drasil/Generate.hs
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
  code/drasil-metadata/package.yaml
  code/drasil-utils/lib/Utils/Drasil.hs
  code/drasil-utils/lib/Utils/Drasil/Document.hs
Owners: @JacquesCarette, @cd155, @samm82, @bmaclach, @balacij

generate __init__.py files for ease of importing for testing
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Generator.hs
  code/stable/dblpendulum/src/python/__init__.py
  code/stable/glassbr/src/python/__init__.py
  code/stable/nopcm/src/python/__init__.py
  code/stable/pdcontroller/src/python/__init__.py
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/__init__.py
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/python/__init__.py
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/__init__.py
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/__init__.py
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/__init__.py
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Modify the Generated by Drasil Version Text
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer.hs
Owners: @JacquesCarette, @bmaclach

Revert "Modify the Generated by Drasil Version Text"
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer.hs
Owners: @JacquesCarette, @bmaclach

Revert "Revert "Modify the Generated by Drasil Version Text""
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer.hs
Owners: @JacquesCarette, @bmaclach

Remove colon from makefile for the Generated by Drasil Version text
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer.hs
Owners: @JacquesCarette, @bmaclach

fix HLint warnings (why did these affect my PR?)
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage/TraceabilityMatrix.hs
Owners: @JacquesCarette

Remove redundant code
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
Owners: @JacquesCarette

Removes quotation marks at the end.
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer.hs
Owners: @JacquesCarette, @bmaclach

Creates a default folder val and Converts Int to Maybe Int
  code/drasil-example/dblpendulum/app/Main.hs
  code/drasil-example/glassbr/app/Main.hs
  code/drasil-example/nopcm/app/Main.hs
  code/drasil-example/pdcontroller/app/Main.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Choices.hs
  code/drasil-gen/lib/Language/Drasil/Generate.hs
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
Owners: @JacquesCarette, @cd155, @samm82, @bmaclach

Adds Type Signature to defaultFolderVal
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
Owners: @JacquesCarette

Update the tense of need
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
Owners: @JacquesCarette

Pattern match using fromMaybe
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
Owners: @JacquesCarette

Remove redundant code and improve word choice for comment
  code/drasil-metadata/lib/Data/Drasil/DrasilConfig.hs
Owners: @JacquesCarette

Format code to fix HLint errors
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage/TraceabilityMatrix.hs
Owners: @JacquesCarette

Add comment section to Rule for Makefile generation
  code/drasil-build/lib/Build/Drasil/Make/AST.hs
  code/drasil-build/lib/Build/Drasil/Make/Helpers.hs
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-gen/lib/Language/Drasil/Output/Formats.hs
Owners: @JacquesCarette

Update stable to reflect changes to makefile generation
  code/stable/dblpendulum/SRS/PDF/Makefile
  code/stable/gamephysics/SRS/PDF/Makefile
  code/stable/glassbr/SRS/PDF/Makefile
  code/stable/hghc/SRS/PDF/Makefile
  code/stable/nopcm/SRS/PDF/Makefile
  code/stable/pdcontroller/SRS/PDF/Makefile
  code/stable/projectile/SRS/PDF/Makefile
  code/stable/sglpendulum/SRS/PDF/Makefile
  code/stable/ssp/SRS/PDF/Makefile
  code/stable/swhs/SRS/PDF/Makefile
  code/stable/template/SRS/PDF/Makefile
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Removed unnecessary the
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Concepts.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/HTML/SSP_SRS.html
  code/stable/ssp/SRS/JSON/SSP_SRS.ipynb
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/HTML/SWHS_SRS.html
  code/stable/swhs/SRS/JSON/SWHS_SRS.ipynb
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Comment formatting changes
  code/drasil-build/lib/Build/Drasil/Make/AST.hs
Owners: @JacquesCarette

fixed hlint errors
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage/TraceabilityMatrix.hs
Owners: @JacquesCarette

Line length formatting changes
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
Owners: @JacquesCarette
