Repository JacquesCarette/Drasil, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JacquesCarette, @cd155, @samm82, @bmaclach, @smiths, @balacij

.github/CODEOWNERS:

# Default rule

# Note that @JacquesCarette has to be added to each rule because of how CODEOWNERS files work

* @JacquesCarette

# Examples

code/drasil-example/dblpendulum/ @JacquesCarette @cd155
code/drasil-example/glassbr/ @JacquesCarette @samm82
code/drasil-example/projectile/ @JacquesCarette @samm82 @bmaclach
code/drasil-example/template/ @JacquesCarette @samm82

# Stable

# Note that @JacquesCarette and @smiths have to be added to each rule because of how CODEOWNERS files work

code/stable/ @JacquesCarette @smiths
code/stable/dblpendulum/ @JacquesCarette @smiths @cd155
code/stable/glassbr/ @JacquesCarette @smiths @samm82
code/stable/gooltest/ @JacquesCarette @smiths @bmaclach
code/stable/projectile/ @JacquesCarette @smiths @samm82 @bmaclach
code/stable/template/ @JacquesCarette @smiths @samm82

# GOOL (for @bmaclach)

code/drasil-gool/ @JacquesCarette @bmaclach

# YAML files

**.yaml @JacquesCarette @balacij

# `ModelKind`s

**/DifferentialModel.hs @JacquesCarette @cd155
**/ModelKinds.hs @JacquesCarette @balacij
**/ODEInfo.hs @JacquesCarette @cd155

# @samm82's miscellaneous work

**/Sentence/Fold.hs @JacquesCarette @samm82
**/Symbol/Helpers.hs @JacquesCarette @samm82

Update glasssbr stable to showcase changes made to Makefile
  code/stable/glassbr/SRS/PDF/Makefile
  code/stable/glassbr/src/cpp/Makefile
  code/stable/glassbr/src/csharp/Makefile
  code/stable/glassbr/src/java/Makefile
  code/stable/glassbr/src/python/Makefile
  code/stable/glassbr/src/swift/Makefile
Owners: @JacquesCarette, @smiths, @samm82

Update nopcm stable to showcase changes made to Makefile
  code/stable/nopcm/SRS/PDF/Makefile
  code/stable/nopcm/src/cpp/Makefile
  code/stable/nopcm/src/csharp/Makefile
  code/stable/nopcm/src/java/Makefile
  code/stable/nopcm/src/python/Makefile
Owners: @JacquesCarette, @smiths

Update pdcontroller stable to showcase changes made to Makefile
  code/stable/pdcontroller/SRS/PDF/Makefile
  code/stable/pdcontroller/src/cpp/Makefile
  code/stable/pdcontroller/src/csharp/Makefile
  code/stable/pdcontroller/src/java/Makefile
  code/stable/pdcontroller/src/python/Makefile
Owners: @JacquesCarette, @smiths

Update projectile stable to showcase changes made to Makefile
  code/stable/projectile/SRS/PDF/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/Makefile
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/swift/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/cpp/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/csharp/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/java/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/python/Makefile
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/swift/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/Makefile
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/swift/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/Makefile
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/swift/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/Makefile
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/swift/Makefile
Owners: @JacquesCarette, @smiths, @samm82, @bmaclach

Create makefile info section for READMEs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Update dblpendulum stable READMEs
  code/stable/dblpendulum/src/cpp/README.md
  code/stable/dblpendulum/src/csharp/README.md
  code/stable/dblpendulum/src/java/README.md
  code/stable/dblpendulum/src/python/README.md
Owners: @JacquesCarette, @smiths, @cd155

Update glassbr stable READMEs
  code/stable/glassbr/src/cpp/README.md
  code/stable/glassbr/src/csharp/README.md
  code/stable/glassbr/src/java/README.md
  code/stable/glassbr/src/python/README.md
  code/stable/glassbr/src/swift/README.md
Owners: @JacquesCarette, @smiths, @samm82

Update nopcm stable READMEs
  code/stable/nopcm/src/cpp/README.md
  code/stable/nopcm/src/csharp/README.md
  code/stable/nopcm/src/java/README.md
  code/stable/nopcm/src/python/README.md
Owners: @JacquesCarette, @smiths

Update pdcontroller stable READMEs
  code/stable/pdcontroller/src/cpp/README.md
  code/stable/pdcontroller/src/csharp/README.md
  code/stable/pdcontroller/src/java/README.md
  code/stable/pdcontroller/src/python/README.md
Owners: @JacquesCarette, @smiths

Update projectile stable READMEs
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/swift/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/swift/README.md
Owners: @JacquesCarette, @smiths, @samm82, @bmaclach

Add helper function to NameGenTest
  code/drasil-code/test/NameGenTest.hs
Owners: @JacquesCarette

Mark function parameters as used variable names
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/LanguagePolymorphic.hs
Owners: @JacquesCarette, @bmaclach

Update purpose of dblpendulum
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Body.hs
Owners: @JacquesCarette, @cd155

Update purpose of glassbr
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Body.hs
Owners: @JacquesCarette, @samm82

Update dblpendulum stable to reflect changes in purpose
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/dblpendulum/src/cpp/Makefile
  code/stable/dblpendulum/src/cpp/README.md
  code/stable/dblpendulum/src/csharp/Makefile
  code/stable/dblpendulum/src/csharp/README.md
  code/stable/dblpendulum/src/java/Makefile
  code/stable/dblpendulum/src/java/README.md
  code/stable/dblpendulum/src/python/Makefile
  code/stable/dblpendulum/src/python/README.md
Owners: @JacquesCarette, @smiths, @cd155

Update glassbr stable to reflect changes in purpose
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/glassbr/src/cpp/Makefile
  code/stable/glassbr/src/cpp/README.md
  code/stable/glassbr/src/csharp/Makefile
  code/stable/glassbr/src/csharp/README.md
  code/stable/glassbr/src/java/Makefile
  code/stable/glassbr/src/java/README.md
  code/stable/glassbr/src/python/Makefile
  code/stable/glassbr/src/python/README.md
  code/stable/glassbr/src/swift/Makefile
  code/stable/glassbr/src/swift/README.md
Owners: @JacquesCarette, @smiths, @samm82

Update sblpendulum stable to reflect changes in purpose
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
Owners: @JacquesCarette, @smiths

Mark variable names as used via array declarations
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CommonPseudoOO.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
Owners: @JacquesCarette, @bmaclach

Remove Generated by Drasil line for the makefile in READMEs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Update stable to remove Makefile generated by Drasil line from READMEs
  code/stable/dblpendulum/src/cpp/README.md
  code/stable/dblpendulum/src/csharp/README.md
  code/stable/dblpendulum/src/java/README.md
  code/stable/dblpendulum/src/python/README.md
  code/stable/glassbr/src/cpp/README.md
  code/stable/glassbr/src/csharp/README.md
  code/stable/glassbr/src/java/README.md
  code/stable/glassbr/src/python/README.md
  code/stable/glassbr/src/swift/README.md
  code/stable/nopcm/src/cpp/README.md
  code/stable/nopcm/src/csharp/README.md
  code/stable/nopcm/src/java/README.md
  code/stable/nopcm/src/python/README.md
  code/stable/pdcontroller/src/cpp/README.md
  code/stable/pdcontroller/src/csharp/README.md
  code/stable/pdcontroller/src/java/README.md
  code/stable/pdcontroller/src/python/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/swift/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/swift/README.md
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

added the GSD section to projectile
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Figures.hs
  code/stable/projectile/.drasil/inverted_seeds.json
  code/stable/projectile/.drasil/problematic_seeds.json
  code/stable/projectile/.drasil/seeds.json
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
Owners: @JacquesCarette, @samm82, @bmaclach, @smiths

Stabilize SRS
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Concepts.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/HTML/SSP_SRS.html
  code/stable/ssp/SRS/JSON/SSP_SRS.ipynb
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/HTML/SWHS_SRS.html
  code/stable/swhs/SRS/JSON/SWHS_SRS.ipynb
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Mark constant names as used variable names
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CommonPseudoOO.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
Owners: @JacquesCarette, @bmaclach

Mark funcDecDef names as used variable names
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CommonPseudoOO.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
Owners: @JacquesCarette, @bmaclach

Capitalize the first word in the Purpose Description
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Revert "Capitalize the first word in the Purpose Description"
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Capitalize the first word of the Purpose Section in READMEs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Remove "efficiently" from problem description
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
Owners: @JacquesCarette, @samm82, @bmaclach

Update stable to reflect changes made to problem description
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82, @bmaclach

Remove redundant imports
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/LanguagePolymorphic.hs
Owners: @JacquesCarette, @bmaclach

added missing image and fixed code formating
  code/datafiles/projectile/SystemContextFigure.png
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
Owners: @JacquesCarette, @samm82, @bmaclach

Thesis: Expand source code subsection of 'our process' chapter and lead in to 'Patterns'
  People/Dan/Thesis/Draft/Thesis_Main.pdf
  People/Dan/Thesis/Draft/Thesis_Main.tex
  People/Dan/Thesis/Draft/futureWork.tex
  People/Dan/Thesis/Draft/process.tex
Owners: @JacquesCarette

add sentence combinators
  code/datafiles/projectile/SystemContextFigure.png
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
Owners: @JacquesCarette, @samm82, @bmaclach

Incorporate HLint suggestions
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
Owners: @JacquesCarette, @bmaclach

Use name generation for thunk assignment loops
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
Owners: @JacquesCarette, @bmaclach

Update comment in drasil-code/test/Main.hs
  code/drasil-code/test/Main.hs
Owners: @JacquesCarette

Remove trailing space
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/LanguagePolymorphic.hs
Owners: @JacquesCarette, @bmaclach

Generalize dot product to all numeric types
  code/drasil-gool/lib/GOOL/Drasil/ClassInterface.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
Owners: @JacquesCarette, @bmaclach

removed unused doxygen statements
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Doxygen/Import.hs
  code/stable/dblpendulum/src/cpp/doxConfig
  code/stable/dblpendulum/src/csharp/doxConfig
  code/stable/dblpendulum/src/java/doxConfig
  code/stable/dblpendulum/src/python/doxConfig
  code/stable/glassbr/src/cpp/doxConfig
  code/stable/glassbr/src/csharp/doxConfig
  code/stable/glassbr/src/java/doxConfig
  code/stable/glassbr/src/python/doxConfig
  code/stable/nopcm/src/cpp/doxConfig
  code/stable/nopcm/src/csharp/doxConfig
  code/stable/nopcm/src/java/doxConfig
  code/stable/nopcm/src/python/doxConfig
  code/stable/pdcontroller/src/cpp/doxConfig
  code/stable/pdcontroller/src/csharp/doxConfig
  code/stable/pdcontroller/src/java/doxConfig
  code/stable/pdcontroller/src/python/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/doxConfig
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/cpp/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/csharp/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/java/doxConfig
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/python/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/doxConfig
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/doxConfig
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/doxConfig
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/doxConfig
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Fix compile errors in GOOL example generated code
  code/drasil-code/test/NameGenTest.hs
Owners: @JacquesCarette
