Repository JacquesCarette/Drasil, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JacquesCarette, @cd155, @samm82, @bmaclach, @smiths, @balacij

.github/CODEOWNERS:

# Default rule

# Note that @JacquesCarette has to be added to each rule because of how CODEOWNERS files work

* @JacquesCarette

# Examples

code/drasil-example/dblpendulum/ @JacquesCarette @cd155
code/drasil-example/glassbr/ @JacquesCarette @samm82
code/drasil-example/projectile/ @JacquesCarette @samm82 @bmaclach
code/drasil-example/template/ @JacquesCarette @samm82

# Stable

# Note that @JacquesCarette and @smiths have to be added to each rule because of how CODEOWNERS files work

code/stable/ @JacquesCarette @smiths
code/stable/dblpendulum/ @JacquesCarette @smiths @cd155
code/stable/glassbr/ @JacquesCarette @smiths @samm82
code/stable/gooltest/ @JacquesCarette @smiths @bmaclach
code/stable/projectile/ @JacquesCarette @smiths @samm82 @bmaclach
code/stable/template/ @JacquesCarette @smiths @samm82

# GOOL (for @bmaclach)

code/drasil-gool/ @JacquesCarette @bmaclach

# YAML files

**.yaml @JacquesCarette @balacij

# `ModelKind`s

**/DifferentialModel.hs @JacquesCarette @cd155
**/ModelKinds.hs @JacquesCarette @balacij
**/ODEInfo.hs @JacquesCarette @cd155

# @samm82's miscellaneous work

**/Sentence/Fold.hs @JacquesCarette @samm82
**/Symbol/Helpers.hs @JacquesCarette @samm82

remove redundant import from Projectile.Body
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
Owners: @JacquesCarette, @samm82, @bmaclach

Remove comma from problem description intro
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Body.hs
Owners: @JacquesCarette

Fix gamephysics purpose
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Body.hs
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
Owners: @JacquesCarette, @smiths

cleaning up traceabilityMandGs
  code/drasil-docLang/lib/Drasil/Sections/TraceabilityMandGs.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/pdcontroller/SRS/HTML/PDController_SRS.html
  code/stable/pdcontroller/SRS/JSON/PDController_SRS.ipynb
  code/stable/pdcontroller/SRS/PDF/PDController_SRS.tex
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/HTML/SSP_SRS.html
  code/stable/ssp/SRS/JSON/SSP_SRS.ipynb
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/HTML/SWHS_SRS.html
  code/stable/swhs/SRS/JSON/SWHS_SRS.ipynb
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Fixes inconsistent naming
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
Owners: @JacquesCarette

Use purpose for unmodular descriptions
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Descriptions.hs
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/Projectile.cpp
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/Projectile.hpp
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/Projectile.cs
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/Projectile/Projectile.java
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/Projectile.py
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/swift/main.swift
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/Projectile.cpp
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/Projectile.hpp
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/Projectile.cs
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/Projectile/Projectile.java
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/Projectile.py
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/swift/main.swift
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/Projectile.cpp
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/Projectile.hpp
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/Projectile.cs
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/Projectile/Projectile.java
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/Projectile.py
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/swift/main.swift
Owners: @JacquesCarette, @smiths, @samm82, @bmaclach

Fix Path for Drasil logo in Projectile
  code/drasil-code/lib/Language/Drasil/Code/Imperative/GOOL/ClassInterface.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/WriteReadMe.hs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Fix Path for Drasil logo in Projectile
  code/drasil-code/lib/Language/Drasil/Choices.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/DrasilState.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Generator.hs
  code/drasil-gen/lib/Language/Drasil/Generate.hs
Owners: @JacquesCarette

Code formatting changes
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

minor improvements to comments and formatting
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Code formatting changes
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Code formatting changes
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Create functions to develop Drasil Logo path based on number of folders specified by user
  code/drasil-code/lib/Language/Drasil/Choices.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/DrasilState.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/GOOL/ClassInterface.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Generator.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/WriteReadMe.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Choices.hs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette, @samm82, @bmaclach

Update projectile stable to reflect Drasil Logo path changes
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/swift/README.md
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/cpp/README.md
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/csharp/README.md
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/java/README.md
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/python/README.md
  code/stable/projectile/projectile_s_l_nol_u_u_v_f/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/swift/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/swift/README.md
Owners: @JacquesCarette, @smiths, @samm82, @bmaclach

Improved code readability
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Update stable according to 'master'
  code/stable/dblpendulum/.drasil/inverted_seeds.json
  code/stable/dblpendulum/.drasil/seeds.json
  code/stable/gamephysics/.drasil/inverted_seeds.json
  code/stable/gamephysics/.drasil/seeds.json
  code/stable/glassbr/.drasil/inverted_seeds.json
  code/stable/glassbr/.drasil/seeds.json
  code/stable/hghc/.drasil/inverted_seeds.json
  code/stable/hghc/.drasil/problematic_seeds.json
  code/stable/hghc/.drasil/seeds.json
  code/stable/nopcm/.drasil/inverted_seeds.json
  code/stable/nopcm/.drasil/seeds.json
  code/stable/pdcontroller/.drasil/inverted_seeds.json
  code/stable/pdcontroller/.drasil/seeds.json
  code/stable/projectile/.drasil/inverted_seeds.json
  code/stable/projectile/.drasil/seeds.json
  code/stable/sglpendulum/.drasil/inverted_seeds.json
  code/stable/sglpendulum/.drasil/seeds.json
  code/stable/ssp/.drasil/inverted_seeds.json
  code/stable/ssp/.drasil/seeds.json
  code/stable/swhs/.drasil/inverted_seeds.json
  code/stable/swhs/.drasil/seeds.json
  code/stable/template/.drasil/inverted_seeds.json
  code/stable/template/.drasil/problematic_seeds.json
  code/stable/template/.drasil/seeds.json
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Clean up remaining TODOs
  code/drasil-database/lib/Database/Drasil/ChunkDB.hs
  code/drasil-gen/lib/Language/Drasil/Dump.hs
  code/drasil-utils/lib/Utils/Drasil/Maps.hs
Owners: @JacquesCarette

add optional integer parameter to Vect (not really used)
  code/drasil-code/lib/Data/Drasil/ExternalLibraries/ODELibraries.hs
  code/drasil-code/lib/Language/Drasil/Chunk/Parameter.hs
  code/drasil-code/lib/Language/Drasil/Code/Code.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/ReadInput.hs
  code/drasil-data/lib/Data/Drasil/Quantities/Physics.hs
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Unitals.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/DesignDec/Vector.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Unitals.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/ModuleDefs.hs
  code/drasil-example/pdcontroller/lib/Drasil/PDController/Unitals.hs
  code/drasil-example/ssp/lib/Drasil/SSP/Unitals.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Unitals.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/CodeBase.hs
  code/drasil-lang/lib/Language/Drasil/Expr/Lang.hs
  code/drasil-lang/lib/Language/Drasil/Space.hs
  code/drasil-printers/lib/Language/Drasil/Printing/Import/Space.hs
  code/stable/dblpendulum/src/cpp/designLog.txt
  code/stable/dblpendulum/src/csharp/designLog.txt
  code/stable/dblpendulum/src/java/designLog.txt
  code/stable/dblpendulum/src/python/designLog.txt
  code/stable/glassbr/src/cpp/designLog.txt
  code/stable/glassbr/src/csharp/designLog.txt
  code/stable/glassbr/src/java/designLog.txt
  code/stable/glassbr/src/python/designLog.txt
  code/stable/glassbr/src/swift/designLog.txt
  code/stable/nopcm/src/cpp/designLog.txt
  code/stable/nopcm/src/csharp/designLog.txt
  code/stable/nopcm/src/java/designLog.txt
  code/stable/nopcm/src/python/designLog.txt
  code/stable/pdcontroller/src/cpp/designLog.txt
  code/stable/pdcontroller/src/csharp/designLog.txt
  code/stable/pdcontroller/src/java/designLog.txt
  code/stable/pdcontroller/src/python/designLog.txt
Owners: @JacquesCarette, @cd155, @samm82, @smiths

removed instance of show for feilds
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
Owners: @JacquesCarette

Fixes Hlint issue
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
Owners: @JacquesCarette

change compound to be defined as a vector using integer (118)
  code/drasil-printers/lib/Language/Drasil/Printing/Import/Space.hs
Owners: @JacquesCarette

made dimensions of Matrix Space into an optional tuple
  code/drasil-code/lib/Language/Drasil/Code/Code.hs
  code/drasil-lang/lib/Language/Drasil/Expr/Lang.hs
  code/drasil-lang/lib/Language/Drasil/Space.hs
Owners: @JacquesCarette

add rendering for matrix with dimensions
  code/drasil-printers/lib/Language/Drasil/Printing/Import/Space.hs
Owners: @JacquesCarette

Switch from tabu to tabularray
  code/drasil-printers/lib/Language/Drasil/TeX/Preamble.hs
  code/drasil-printers/lib/Language/Drasil/TeX/Print.hs
Owners: @JacquesCarette

Remove import for longtable
  code/drasil-printers/lib/Language/Drasil/TeX/Preamble.hs
Owners: @JacquesCarette

Update stable
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/hghc/SRS/PDF/HGHC_SRS.tex
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/pdcontroller/SRS/PDF/PDController_SRS.tex
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

update sufxer to deal with mod 100
  code/drasil-printers/lib/Language/Drasil/Printing/Helpers.hs
Owners: @JacquesCarette

Remove excess line breaks from LaTeX tables
  code/drasil-printers/lib/Language/Drasil/TeX/Print.hs
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/hghc/SRS/PDF/HGHC_SRS.tex
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/pdcontroller/SRS/PDF/PDController_SRS.tex
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Upgrade CI to Ubuntu 22.04 LTS
  .github/workflows/Build.yaml
Owners: @JacquesCarette, @balacij

Modify docLang in order to create boilerplate text for IOrg intro section
  code/drasil-data/lib/Data/Drasil/Citations.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Core.hs
  code/drasil-docLang/lib/Drasil/ExtractDocDesc.hs
Owners: @JacquesCarette

Modify docLang in order to create boilerplate text for IOrg intro section
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
Owners: @JacquesCarette

Modify examples to implement changes made to IOrg section
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Body.hs
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/References.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/Body.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/References.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Body.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/References.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/Body.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/References.hs
  code/drasil-example/pdcontroller/lib/Drasil/PDController/Body.hs
  code/drasil-example/pdcontroller/lib/Drasil/PDController/IntroSection.hs
  code/drasil-example/pdcontroller/lib/Drasil/PDController/References.hs
  code/drasil-example/sglpendulum/lib/Drasil/SglPendulum/Body.hs
  code/drasil-example/ssp/lib/Drasil/SSP/Body.hs
  code/drasil-example/ssp/lib/Drasil/SSP/References.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Body.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/References.hs
Owners: @JacquesCarette, @cd155, @samm82

Update CI to Ubuntu 22.04 LTS
  .github/workflows/Build.yaml
Owners: @JacquesCarette, @balacij

Update stable to reflect changes.
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/pdcontroller/SRS/HTML/PDController_SRS.html
  code/stable/pdcontroller/SRS/JSON/PDController_SRS.ipynb
  code/stable/pdcontroller/SRS/PDF/PDController_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/HTML/SSP_SRS.html
  code/stable/ssp/SRS/JSON/SSP_SRS.ipynb
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/HTML/SWHS_SRS.html
  code/stable/swhs/SRS/JSON/SWHS_SRS.ipynb
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155

Remove unused imports.
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
Owners: @JacquesCarette

Remove Volere reference from the IOrg section
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/References.hs
  code/drasil-example/gamephysics/lib/Drasil/GamePhysics/References.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/References.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/References.hs
  code/drasil-example/pdcontroller/lib/Drasil/PDController/References.hs
  code/drasil-example/ssp/lib/Drasil/SSP/References.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/References.hs
Owners: @JacquesCarette, @cd155, @samm82

Update stable to reflect removal of Volere reference
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/pdcontroller/SRS/HTML/PDController_SRS.html
  code/stable/pdcontroller/SRS/JSON/PDController_SRS.ipynb
  code/stable/pdcontroller/SRS/PDF/PDController_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/HTML/SSP_SRS.html
  code/stable/ssp/SRS/JSON/SSP_SRS.ipynb
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/HTML/SWHS_SRS.html
  code/stable/swhs/SRS/JSON/SWHS_SRS.ipynb
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82

Removed unused imports
  code/drasil-example/pdcontroller/lib/Drasil/PDController/References.hs
Owners: @JacquesCarette

Move the location of filepath from CreateMd.hs to Document.hs in drasil-utils
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
  code/drasil-utils/lib/Utils/Drasil/Document.hs
Owners: @JacquesCarette

Code format changes and corrected spelling of Separator
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
  code/drasil-utils/lib/Utils/Drasil/Document.hs
Owners: @JacquesCarette
