Repository JacquesCarette/Drasil, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JacquesCarette, @cd155, @samm82, @bmaclach, @smiths, @balacij

.github/CODEOWNERS:

# Default rule

# Note that @JacquesCarette has to be added to each rule because of how CODEOWNERS files work

* @JacquesCarette

# Examples

code/drasil-example/dblpendulum/ @JacquesCarette @cd155
code/drasil-example/glassbr/ @JacquesCarette @samm82
code/drasil-example/projectile/ @JacquesCarette @samm82 @bmaclach
code/drasil-example/template/ @JacquesCarette @samm82

# Stable

# Note that @JacquesCarette and @smiths have to be added to each rule because of how CODEOWNERS files work

code/stable/ @JacquesCarette @smiths
code/stable/dblpendulum/ @JacquesCarette @smiths @cd155
code/stable/glassbr/ @JacquesCarette @smiths @samm82
code/stable/gooltest/ @JacquesCarette @smiths @bmaclach
code/stable/projectile/ @JacquesCarette @smiths @samm82 @bmaclach
code/stable/template/ @JacquesCarette @smiths @samm82

# GOOL (for @bmaclach)

code/drasil-gool/ @JacquesCarette @bmaclach

# YAML files

**.yaml @JacquesCarette @balacij

# `ModelKind`s

**/DifferentialModel.hs @JacquesCarette @cd155
**/ModelKinds.hs @JacquesCarette @balacij
**/ODEInfo.hs @JacquesCarette @cd155

# @samm82's miscellaneous work

**/Sentence/Fold.hs @JacquesCarette @samm82
**/Symbol/Helpers.hs @JacquesCarette @samm82

implementing-layout-object-into-ModRow
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
  code/drasil-lang/lib/Language/Drasil/Document/Core.hs
  code/drasil-printers/lib/Language/Drasil/HTML/Print.hs
  code/drasil-printers/lib/Language/Drasil/JSON/Print.hs
  code/drasil-printers/lib/Language/Drasil/Printing/Import/Document.hs
  code/drasil-printers/lib/Language/Drasil/Printing/LayoutObj.hs
  code/drasil-printers/lib/Language/Drasil/TeX/Print.hs
Owners: @JacquesCarette

fixing print issues
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
  code/drasil-printers/lib/Language/Drasil/HTML/Print.hs
  code/drasil-printers/lib/Language/Drasil/JSON/Print.hs
  code/drasil-printers/lib/Language/Drasil/Printing/Import/Document.hs
  code/drasil-printers/lib/Language/Drasil/Printing/LayoutObj.hs
  code/drasil-printers/lib/Language/Drasil/TeX/Print.hs
Owners: @JacquesCarette

fixed typo
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
Owners: @JacquesCarette

fixes hlint issue
  code/drasil-printers/lib/Language/Drasil/Printing/Import/Document.hs
Owners: @JacquesCarette

fixes error messsage
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
Owners: @JacquesCarette

improve consistency in import statements
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
Owners: @JacquesCarette

Adding Notes as a namedChunk
  code/drasil-data/lib/Data/Drasil/Concepts/Documentation.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
Owners: @JacquesCarette

change error message to say "general definitions"
  code/drasil-docLang/lib/Drasil/DocumentLanguage/Definitions.hs
Owners: @JacquesCarette

changing namedChunk to IdeaDict
  code/drasil-data/lib/Data/Drasil/Concepts/Computation.hs
  code/drasil-data/lib/Data/Drasil/Concepts/Documentation.hs
  code/drasil-data/lib/Data/Drasil/Concepts/Education.hs
  code/drasil-data/lib/Data/Drasil/Concepts/PhysicalProperties.hs
  code/drasil-data/lib/Data/Drasil/Software/Products.hs
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Concepts.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Body.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Changes.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Concepts.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Unitals.hs
  code/drasil-example/hghc/lib/Drasil/HGHC/HeatTransfer.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/Definitions.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Concepts.hs
  code/drasil-example/ssp/lib/Drasil/SSP/Defs.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Concepts.hs
  code/drasil-lang/lib/Language/Drasil.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/CommonIdea.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Concept.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Concept/NamedCombinators.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Eq.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/NamedIdea.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Quantity.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/README.md
  code/drasil-lang/lib/Language/Drasil/NounPhrase.hs
Owners: @JacquesCarette, @cd155, @samm82, @bmaclach

removing excess use of Nothing qa!
  code/drasil-data/lib/Data/Drasil/Concepts/Computation.hs
  code/drasil-data/lib/Data/Drasil/Concepts/Documentation.hs
  code/drasil-data/lib/Data/Drasil/Concepts/Education.hs
  code/drasil-data/lib/Data/Drasil/Software/Products.hs
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Concepts.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Concepts.hs
  code/drasil-example/hghc/lib/Drasil/HGHC/HeatTransfer.hs
  code/drasil-example/nopcm/lib/Drasil/NoPCM/Definitions.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/Concepts.hs
  code/drasil-example/ssp/lib/Drasil/SSP/Defs.hs
  code/drasil-example/swhs/lib/Drasil/SWHS/Concepts.hs
  code/drasil-lang/lib/Language/Drasil.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/CommonIdea.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Concept.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Concept/NamedCombinators.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Eq.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/NamedIdea.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/Quantity.hs
  code/drasil-lang/lib/Language/Drasil/Chunk/README.md
Owners: @JacquesCarette, @cd155, @samm82, @bmaclach

Dump trace and reverse trace too
  code/drasil-gen/lib/Language/Drasil/Dump.hs
  code/stable/dblpendulum/.drasil/reverse_trace.json
  code/stable/dblpendulum/.drasil/trace.json
  code/stable/gamephysics/.drasil/reverse_trace.json
  code/stable/gamephysics/.drasil/trace.json
  code/stable/glassbr/.drasil/reverse_trace.json
  code/stable/glassbr/.drasil/trace.json
  code/stable/hghc/.drasil/reverse_trace.json
  code/stable/hghc/.drasil/trace.json
  code/stable/nopcm/.drasil/reverse_trace.json
  code/stable/nopcm/.drasil/trace.json
  code/stable/pdcontroller/.drasil/reverse_trace.json
  code/stable/pdcontroller/.drasil/trace.json
  code/stable/projectile/.drasil/reverse_trace.json
  code/stable/projectile/.drasil/trace.json
  code/stable/sglpendulum/.drasil/reverse_trace.json
  code/stable/sglpendulum/.drasil/trace.json
  code/stable/ssp/.drasil/reverse_trace.json
  code/stable/ssp/.drasil/trace.json
  code/stable/swhs/.drasil/reverse_trace.json
  code/stable/swhs/.drasil/trace.json
  code/stable/template/.drasil/reverse_trace.json
  code/stable/template/.drasil/trace.json
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Reuse 'invert' from drasil-utils
  code/drasil-database/lib/Database/Drasil/ChunkDB.hs
  code/drasil-database/package.yaml
Owners: @JacquesCarette, @balacij

Use atLeast2 instead of length x > 1
  code/drasil-gen/lib/Language/Drasil/Dump.hs
  code/drasil-utils/lib/Utils/Drasil.hs
  code/drasil-utils/lib/Utils/Drasil/Lists.hs
Owners: @JacquesCarette

Don't export everything from the internal module if we don't need to
  code/drasil-database/lib/Database/Drasil/ChunkDB.hs
  code/drasil-database/lib/Database/Drasil/Dump.hs
Owners: @JacquesCarette

Update stable according to master changes
  code/stable/glassbr/.drasil/inverted_seeds.json
  code/stable/glassbr/.drasil/seeds.json
  code/stable/pdcontroller/.drasil/inverted_seeds.json
  code/stable/pdcontroller/.drasil/seeds.json
Owners: @JacquesCarette, @smiths, @samm82

generalizing use of IdeaDict
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Body.hs
  code/drasil-example/glassbr/lib/Drasil/GlassBR/Changes.hs
  code/drasil-lang/lib/Language/Drasil.hs
Owners: @JacquesCarette, @samm82

Update Template to include blank SRS Sections
  code/drasil-docLang/lib/Drasil/DocLang.hs
  code/drasil-docLang/lib/Drasil/Sections/GeneralSystDesc.hs
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-docLang/lib/Drasil/Sections/Requirements.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfAbbAndAcronyms.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfSymbols.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfUnits.hs
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Body.hs
  code/drasil-example/template/lib/Drasil/Template/Body.hs
  code/drasil-lang/lib/Language/Drasil/Document/Contents.hs
Owners: @JacquesCarette, @cd155, @samm82

Update Stable to reflect changes.
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82

Clean up use of Map in GOOL states
  code/drasil-gool/lib/GOOL/Drasil/State.hs
Owners: @JacquesCarette, @bmaclach

Add likely and unlikely changes to template and add boilerplate text for no changes.
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-example/template/lib/Drasil/Template/Body.hs
Owners: @JacquesCarette, @samm82

Update stable to reflect changes
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82

adding back an identifier
  code/drasil-lang/lib/Language/Drasil/Document/Core.hs
Owners: @JacquesCarette

Code formatting changes
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
  code/drasil-example/template/lib/Drasil/Template/Body.hs
Owners: @JacquesCarette, @samm82

Removed unused imports
  code/drasil-example/template/lib/Drasil/Template/Body.hs
Owners: @JacquesCarette, @samm82

Update Template example to match changes
  code/drasil-example/template/lib/Drasil/Template/Body.hs
Owners: @JacquesCarette, @samm82

Removing Duplicate the's
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Unitals.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/dblpendulum/src/cpp/Calculations.hpp
  code/stable/dblpendulum/src/cpp/InputParameters.hpp
  code/stable/dblpendulum/src/cpp/ODE.hpp
  code/stable/dblpendulum/src/cpp/input.txt
  code/stable/dblpendulum/src/csharp/Calculations.cs
  code/stable/dblpendulum/src/csharp/InputParameters.cs
  code/stable/dblpendulum/src/csharp/input.txt
  code/stable/dblpendulum/src/java/DblPendulum/Calculations.java
  code/stable/dblpendulum/src/java/DblPendulum/InputParameters.java
  code/stable/dblpendulum/src/java/DblPendulum/ODE.java
  code/stable/dblpendulum/src/java/input.txt
  code/stable/dblpendulum/src/python/Calculations.py
  code/stable/dblpendulum/src/python/InputParameters.py
  code/stable/dblpendulum/src/python/input.txt
Owners: @JacquesCarette, @cd155, @smiths

Update text for Goal Statements and Traceability Matrix/Graph
  code/drasil-docLang/lib/Drasil/DocumentLanguage/TraceabilityGraph.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
Owners: @JacquesCarette

Update Stable to reflect changes
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82

Grammatical and code formatting changes.
  code/drasil-docLang/lib/Drasil/DocumentLanguage/TraceabilityGraph.hs
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfAbbAndAcronyms.hs
Owners: @JacquesCarette

Update stable to fix grammar errors
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82

Removing Duplicate the's
  code/drasil-example/dblpendulum/lib/Drasil/DblPendulum/Unitals.hs
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/dblpendulum/src/cpp/Calculations.hpp
  code/stable/dblpendulum/src/cpp/InputParameters.hpp
  code/stable/dblpendulum/src/cpp/ODE.hpp
  code/stable/dblpendulum/src/cpp/input.txt
  code/stable/dblpendulum/src/csharp/Calculations.cs
  code/stable/dblpendulum/src/csharp/InputParameters.cs
  code/stable/dblpendulum/src/csharp/input.txt
  code/stable/dblpendulum/src/java/DblPendulum/Calculations.java
  code/stable/dblpendulum/src/java/DblPendulum/InputParameters.java
  code/stable/dblpendulum/src/java/DblPendulum/ODE.java
  code/stable/dblpendulum/src/java/input.txt
  code/stable/dblpendulum/src/python/Calculations.py
  code/stable/dblpendulum/src/python/InputParameters.py
  code/stable/dblpendulum/src/python/input.txt
Owners: @JacquesCarette, @cd155, @smiths

Create emptySectSentence helper function
  code/drasil-docLang/lib/Drasil/Sections/GeneralSystDesc.hs
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-docLang/lib/Drasil/Sections/Requirements.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfSymbols.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfUnits.hs
  code/drasil-lang/lib/Language/Drasil.hs
  code/drasil-lang/lib/Language/Drasil/Sentence/Fold.hs
Owners: @JacquesCarette, @samm82

Update stable to reflect word changes.
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82

Factor out commonalities for introLCs and introUCs
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
Owners: @JacquesCarette

Changed location of definition of emptySectSentence
  code/drasil-docLang/lib/Drasil/DocLang.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/Sections/GeneralSystDesc.hs
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-docLang/lib/Drasil/Sections/ReferenceMaterial.hs
  code/drasil-docLang/lib/Drasil/Sections/Requirements.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfSymbols.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfUnits.hs
  code/drasil-lang/lib/Language/Drasil.hs
  code/drasil-lang/lib/Language/Drasil/Sentence/Fold.hs
Owners: @JacquesCarette, @samm82

Inlined code for systCon
  code/drasil-docLang/lib/Drasil/Sections/GeneralSystDesc.hs
Owners: @JacquesCarette

update goal statement
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
Owners: @JacquesCarette, @samm82, @bmaclach, @smiths

Factor out commonalities from mkUCs and mkLCs sections
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
Owners: @JacquesCarette

Code formatting changes for TUPurpose
  code/drasil-docLang/lib/Drasil/Sections/TableOfUnits.hs
Owners: @JacquesCarette

Changes to stable to reflect changes made due to rewording TUPurpose
  code/stable/dblpendulum/SRS/HTML/DblPendulum_SRS.html
  code/stable/dblpendulum/SRS/JSON/DblPendulum_SRS.ipynb
  code/stable/dblpendulum/SRS/PDF/DblPendulum_SRS.tex
  code/stable/gamephysics/SRS/HTML/GamePhysics_SRS.html
  code/stable/gamephysics/SRS/JSON/GamePhysics_SRS.ipynb
  code/stable/gamephysics/SRS/PDF/GamePhysics_SRS.tex
  code/stable/glassbr/SRS/HTML/GlassBR_SRS.html
  code/stable/glassbr/SRS/JSON/GlassBR_SRS.ipynb
  code/stable/glassbr/SRS/PDF/GlassBR_SRS.tex
  code/stable/hghc/SRS/HTML/HGHC_SRS.html
  code/stable/hghc/SRS/JSON/HGHC_SRS.ipynb
  code/stable/hghc/SRS/PDF/HGHC_SRS.tex
  code/stable/nopcm/SRS/HTML/NoPCM_SRS.html
  code/stable/nopcm/SRS/JSON/NoPCM_SRS.ipynb
  code/stable/nopcm/SRS/PDF/NoPCM_SRS.tex
  code/stable/pdcontroller/SRS/HTML/PDController_SRS.html
  code/stable/pdcontroller/SRS/JSON/PDController_SRS.ipynb
  code/stable/pdcontroller/SRS/PDF/PDController_SRS.tex
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
  code/stable/sglpendulum/SRS/HTML/SglPendulum_SRS.html
  code/stable/sglpendulum/SRS/JSON/SglPendulum_SRS.ipynb
  code/stable/sglpendulum/SRS/PDF/SglPendulum_SRS.tex
  code/stable/ssp/SRS/HTML/SSP_SRS.html
  code/stable/ssp/SRS/JSON/SSP_SRS.ipynb
  code/stable/ssp/SRS/PDF/SSP_SRS.tex
  code/stable/swhs/SRS/HTML/SWHS_SRS.html
  code/stable/swhs/SRS/JSON/SWHS_SRS.ipynb
  code/stable/swhs/SRS/PDF/SWHS_SRS.tex
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach
