Repository JacquesCarette/Drasil, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JacquesCarette, @cd155, @samm82, @bmaclach, @smiths, @balacij

Added a 'How to Change Input' Section to README
  code/drasil-code/lib/Language/Drasil/Code/Imperative/WriteReadMe.hs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
  code/stable/dblpendulum/src/cpp/README.md
  code/stable/dblpendulum/src/csharp/README.md
  code/stable/dblpendulum/src/java/README.md
  code/stable/dblpendulum/src/python/README.md
  code/stable/glassbr/src/cpp/README.md
  code/stable/glassbr/src/csharp/README.md
  code/stable/glassbr/src/java/README.md
  code/stable/glassbr/src/python/README.md
  code/stable/glassbr/src/swift/README.md
  code/stable/nopcm/src/cpp/README.md
  code/stable/nopcm/src/csharp/README.md
  code/stable/nopcm/src/java/README.md
  code/stable/nopcm/src/python/README.md
  code/stable/pdcontroller/src/cpp/README.md
  code/stable/pdcontroller/src/csharp/README.md
  code/stable/pdcontroller/src/java/README.md
  code/stable/pdcontroller/src/python/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/cpp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/csharp/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/java/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/python/README.md
  code/stable/projectile/projectile_c_p_nol_b_u_v_d/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_b_c_d/src/swift/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/cpp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/csharp/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/java/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/python/README.md
  code/stable/projectile/projectile_u_p_l_b_wi_v_f/src/swift/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/cpp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/csharp/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/java/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/python/README.md
  code/stable/projectile/projectile_u_p_nol_u_wi_v_d/src/swift/README.md
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

Create a modify helper functions for empty section sentences
  code/drasil-data/lib/Data/Drasil/Concepts/Documentation.hs
  code/drasil-docLang/lib/Drasil/DocLang.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/Sections/AuxiliaryConstants.hs
  code/drasil-docLang/lib/Drasil/Sections/GeneralSystDesc.hs
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-docLang/lib/Drasil/Sections/ReferenceMaterial.hs
  code/drasil-docLang/lib/Drasil/Sections/Requirements.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfAbbAndAcronyms.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfSymbols.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfUnits.hs
Owners: @JacquesCarette

Update stable to reflect changes
  code/stable/template/SRS/HTML/Template_SRS.html
  code/stable/template/SRS/JSON/Template_SRS.ipynb
  code/stable/template/SRS/PDF/Template_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82

Update Stable to reflect changes to ChunkDB
  code/stable/dblpendulum/.drasil/inverted_seeds.json
  code/stable/dblpendulum/.drasil/seeds.json
  code/stable/gamephysics/.drasil/inverted_seeds.json
  code/stable/gamephysics/.drasil/seeds.json
  code/stable/glassbr/.drasil/inverted_seeds.json
  code/stable/glassbr/.drasil/seeds.json
  code/stable/hghc/.drasil/inverted_seeds.json
  code/stable/hghc/.drasil/seeds.json
  code/stable/nopcm/.drasil/inverted_seeds.json
  code/stable/nopcm/.drasil/seeds.json
  code/stable/pdcontroller/.drasil/inverted_seeds.json
  code/stable/pdcontroller/.drasil/seeds.json
  code/stable/projectile/.drasil/inverted_seeds.json
  code/stable/projectile/.drasil/seeds.json
  code/stable/sglpendulum/.drasil/inverted_seeds.json
  code/stable/sglpendulum/.drasil/seeds.json
  code/stable/ssp/.drasil/inverted_seeds.json
  code/stable/ssp/.drasil/seeds.json
  code/stable/swhs/.drasil/inverted_seeds.json
  code/stable/swhs/.drasil/seeds.json
  code/stable/template/.drasil/inverted_seeds.json
  code/stable/template/.drasil/problematic_seeds.json
  code/stable/template/.drasil/seeds.json
Owners: @JacquesCarette, @smiths, @cd155, @samm82, @bmaclach

improve definitions of emptySectSent functions
  code/drasil-docLang/lib/Drasil/Sections/ReferenceMaterial.hs
Owners: @JacquesCarette

improve emptySectSent
  code/drasil-docLang/lib/Drasil/DocumentLanguage.hs
  code/drasil-docLang/lib/Drasil/DocumentLanguage/TraceabilityGraph.hs
  code/drasil-docLang/lib/Drasil/Sections/AuxiliaryConstants.hs
  code/drasil-docLang/lib/Drasil/Sections/GeneralSystDesc.hs
  code/drasil-docLang/lib/Drasil/Sections/Introduction.hs
  code/drasil-docLang/lib/Drasil/Sections/ReferenceMaterial.hs
  code/drasil-docLang/lib/Drasil/Sections/Requirements.hs
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfAbbAndAcronyms.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfSymbols.hs
  code/drasil-docLang/lib/Drasil/Sections/TableOfUnits.hs
Owners: @JacquesCarette

use emptySectSentPlu in propCorSolF
  code/drasil-docLang/lib/Drasil/Sections/SpecificSystemDescription.hs
Owners: @JacquesCarette

Add GOOL example for name generation
  code/drasil-code/package.yaml
  code/drasil-code/test/Main.hs
  code/drasil-code/test/NameGenTest.hs
Owners: @JacquesCarette, @balacij

removing tupple use
  code/drasil-code/lib/Language/Drasil/Code/Imperative/GOOL/ClassInterface.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Generator.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/WriteReadMe.hs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Track variable declarations in MethodState
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CLike.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/State.hs
Owners: @JacquesCarette, @bmaclach

Implement variable name generation
  code/drasil-gool/lib/GOOL/Drasil/State.hs
Owners: @JacquesCarette, @bmaclach

Generate variable names for listSlice
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/Macros.hs
Owners: @JacquesCarette, @bmaclach

Create genLoopIndex function
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/Macros.hs
  code/drasil-gool/lib/GOOL/Drasil/State.hs
Owners: @JacquesCarette, @bmaclach

Generate variable names for stringListLists
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/Macros.hs
  code/stable/glassbr/src/cpp/ReadTable.cpp
  code/stable/glassbr/src/csharp/ReadTable.cs
  code/stable/glassbr/src/java/GlassBR/ReadTable.java
  code/stable/glassbr/src/python/ReadTable.py
  code/stable/glassbr/src/swift/ReadTable.swift
Owners: @JacquesCarette, @bmaclach, @smiths, @samm82

Back in working shape, with drasil-gen removed as the primary 'drasil' library
  code/drasil-example/dblpendulum/package.yaml
  code/package.yaml
Owners: @JacquesCarette, @balacij

Remove unneeded .yaml files
  code/drasil-example/dblpendulum/package.yaml
  code/drasil-example/dblpendulum/stack.yaml
  code/drasil-gen/package.yaml
  code/drasil-gen/stack.yaml
  code/package.yaml
Owners: @JacquesCarette, @balacij

Merge drasil-code into the global package.yaml
  code/Makefile
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Parsers/README.md
  code/drasil-code/package.yaml
  code/drasil-code/stack.yaml
  code/drasil-code/unused/ConfigParser.hs
  code/drasil-docLang/package.yaml
  code/drasil-docLang/stack.yaml
  code/package.yaml
Owners: @JacquesCarette, @balacij

Move drasil-build to package.yaml
  code/drasil-build/package.yaml
  code/drasil-build/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-gool to package.yaml
  code/drasil-gool/package.yaml
  code/drasil-gool/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-printers to global package.yaml
  code/drasil-printers/package.yaml
  code/drasil-printers/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-data to package.yaml
  code/drasil-data/package.yaml
  code/drasil-data/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-sysinfo into package.yaml
  code/drasil-sysinfo/package.yaml
  code/drasil-sysinfo/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-database into package.yaml
  code/drasil-database/package.yaml
  code/drasil-database/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-theory into global package.yaml
  code/drasil-theory/package.yaml
  code/drasil-theory/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-metadata to package.yaml
  code/drasil-metadata/package.yaml
  code/drasil-metadata/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-lang to package.yaml
  code/drasil-lang/package.yaml
  code/drasil-lang/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Move drasil-lang to package.yaml
  code/drasil-utils/package.yaml
  code/drasil-utils/stack.yaml
  code/package.yaml
  code/stack.yaml
Owners: @JacquesCarette, @balacij

Remove Paths_drasil
  code/package.yaml
Owners: @JacquesCarette, @balacij

undo use of 'maybe' and combine parameters
  code/drasil-code/lib/Language/Drasil/Code/Imperative/GOOL/ClassInterface.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/GOOL/LanguageRenderer.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Generator.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/WriteReadMe.hs
  code/drasil-printers/lib/Language/Drasil/Markdown/CreateMd.hs
Owners: @JacquesCarette

Update comment to reflect changes
  code/drasil-code/lib/Language/Drasil/Code/Imperative/GOOL/ClassInterface.hs
Owners: @JacquesCarette

Create background information sentence
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
Owners: @JacquesCarette, @samm82, @bmaclach

Update stable to add background information
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
Owners: @JacquesCarette, @smiths, @samm82, @bmaclach

added missing sections to projectile intro
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
  code/drasil-example/projectile/lib/Drasil/Projectile/References.hs
  code/stable/projectile/.drasil/inverted_seeds.json
  code/stable/projectile/.drasil/problematic_seeds.json
  code/stable/projectile/.drasil/seeds.json
  code/stable/projectile/SRS/HTML/Projectile_SRS.html
  code/stable/projectile/SRS/JSON/Projectile_SRS.ipynb
  code/stable/projectile/SRS/PDF/Projectile_SRS.tex
Owners: @JacquesCarette, @samm82, @bmaclach, @smiths

add first committee meeting presentation
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/DrasilSupportsChange.png
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/code/Calculations_test.py
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/code/Control.py
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/code/Control_test.py
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/code/InputParameters_test.py
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/code/OutputFormat_test.py
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/drasil-logo.png
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/log.txt
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/me.jpg
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/projectile-current.PNG
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/projectile-sketch.PNG
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/projectile-wip.PNG
  People/Sam/TestGen/Committee Meeting 1 - June 2023/assets/stable.PNG
  People/Sam/TestGen/Committee Meeting 1 - June 2023/handout.pdf
  People/Sam/TestGen/Committee Meeting 1 - June 2023/presentation.pdf
  People/Sam/TestGen/Committee Meeting 1 - June 2023/presentation.tex
  People/Sam/TestGen/Committee Meeting 1 - June 2023/references.bib
Owners: @JacquesCarette

fix comment for Characteristics of Intended Reader section in Projectile
  code/drasil-example/projectile/lib/Drasil/Projectile/Body.hs
Owners: @JacquesCarette, @samm82, @bmaclach

Rename GenNameTest to NameGenTest
  code/drasil-code/test/NameGenTest.hs
Owners: @JacquesCarette

Move countCommand.txt into a bash script
  code/countCommand.txt
  code/scripts/count_words.sh
Owners: @JacquesCarette

Add Project Name and Purpose Sections to Makefiles.
  code/drasil-build/lib/Build/Drasil/Make/Print.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Build/Import.hs
  code/drasil-code/lib/Language/Drasil/Code/Imperative/Generator.hs
  code/drasil-code/test/FileTests.hs
  code/drasil-code/test/HelloWorld.hs
  code/drasil-code/test/PatternTest.hs
  code/drasil-gool/lib/GOOL/Drasil/AST.hs
  code/drasil-gool/lib/GOOL/Drasil/ClassInterface.hs
  code/drasil-gool/lib/GOOL/Drasil/CodeInfo.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CSharpRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/CppRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/JavaRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/PythonRenderer.hs
  code/drasil-gool/lib/GOOL/Drasil/LanguageRenderer/SwiftRenderer.hs
Owners: @JacquesCarette, @bmaclach

Update stable for dblpendulum to update makefiles
  code/stable/dblpendulum/SRS/PDF/Makefile
  code/stable/dblpendulum/src/cpp/Makefile
  code/stable/dblpendulum/src/csharp/Makefile
  code/stable/dblpendulum/src/java/Makefile
  code/stable/dblpendulum/src/python/Makefile
Owners: @JacquesCarette, @smiths, @cd155

Update stable to showcase changes to makefile
  code/stable/gamephysics/SRS/PDF/Makefile
  code/stable/hghc/SRS/PDF/Makefile
  code/stable/sglpendulum/SRS/PDF/Makefile
  code/stable/ssp/SRS/PDF/Makefile
  code/stable/swhs/SRS/PDF/Makefile
  code/stable/template/SRS/PDF/Makefile
Owners: @JacquesCarette, @smiths, @samm82

.github/CODEOWNERS:

# Default rule

# Note that @JacquesCarette has to be added to each rule because of how CODEOWNERS files work

* @JacquesCarette

# Examples

code/drasil-example/dblpendulum/ @JacquesCarette @cd155
code/drasil-example/glassbr/ @JacquesCarette @samm82
code/drasil-example/projectile/ @JacquesCarette @samm82 @bmaclach
code/drasil-example/template/ @JacquesCarette @samm82

# Stable

# Note that @JacquesCarette and @smiths have to be added to each rule because of how CODEOWNERS files work

code/stable/ @JacquesCarette @smiths
code/stable/dblpendulum/ @JacquesCarette @smiths @cd155
code/stable/glassbr/ @JacquesCarette @smiths @samm82
code/stable/gooltest/ @JacquesCarette @smiths @bmaclach
code/stable/projectile/ @JacquesCarette @smiths @samm82 @bmaclach
code/stable/template/ @JacquesCarette @smiths @samm82

# GOOL (for @bmaclach)

code/drasil-gool/ @JacquesCarette @bmaclach

# YAML files

**.yaml @JacquesCarette @balacij

# `ModelKind`s

**/DifferentialModel.hs @JacquesCarette @cd155
**/ModelKinds.hs @JacquesCarette @balacij
**/ODEInfo.hs @JacquesCarette @cd155

# @samm82's miscellaneous work

**/Sentence/Fold.hs @JacquesCarette @samm82
**/Symbol/Helpers.hs @JacquesCarette @samm82
